body{
  background-image: url(travel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #c1c1c1;
}
#group{
  margin: 40px auto;
  float: none;
}
header{
  text-align: center;
}
h1{
  font-size: 45px;
  color: #fff;
}
h5{
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff;
}
input{
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #d0d2d9;
  background-color: transparent;
  font-size: 30px;
  color: #00025d;
  outline: none;
}
input::placeholder{
  color: #d0d2d9;
}
.yerlerimiz{
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  padding: 0 20px;
  color: #00025d;
  cursor: pointer;
}
ul li:hover{
  font-size: 40px;
}
li span{
  float: right;
  opacity: 0;
}
li:hover span{
  opacity: 1;
  color: red;
}
.ziyaretEdilmis{
  text-decoration: line-through;
  color: #435b6b;
}
